.card {
  border-radius: 10px;
  height: 361px;
  background-color: #fff;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 282px;
}

.card__image_type_yosmite {
  background-image: url(../images/yosemite.jpg);
}

.card__image_type_louise {
  background-image: url(../images/lake-louise.jpg);
}

.card__image_type_bald_mts {
  background-image: url(../images/bald-mountains.jpg);
}

.card__image_type_latemar {
  background-image: url(../images/latemar.jpg);
}

.card__image_type_vanoise {
  background-image: url(../images/vanoise.jpg);
}

.card__image_type_lago {
  background-image: url(../images/lago.jpg);
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px 25px 20px;
}

.card__text {
  margin-right: auto;
  max-width: 202px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.card__like-button {
  background-image: url(../images/like-heart-vector.svg);
  border: none;
  background-color: transparent;
  height: 18px;
  width: 21px;
  transition: opacity ease-in-out 0.15s 0.15s;
}

.card__like-button:hover {
  opacity: 60%;
  cursor: pointer;
}
