.content {
  display: grid;
  grid-template-columns: minmax(min-content, 880px);
  height: 100%;
}

@media screen and (max-width: 617px) {
  .content {
    max-width: 282px;
    justify-self: center;
  }
}
