.logo {
  width: 173px;
  height: 33px;
}

.logo__vector {
  background-image: url(../images/logo-vector.svg);
  background-size: contain;
}

@media screen and (max-width: 680px) {
  .logo {
    width: 126px;
    height: 24px;
  }
}
