@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 99990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: flex;
  animation: fadeIn 0.3s forwards;
}

.modal_hide {
  animation: fadeOut 0.3s ease-in-out;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 36px;
  width: 358px;
}

.modal__preview-container {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  margin: auto;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #fff;
}

.modal__close {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 0;
  background-image: url(../images/close-icon.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: opacity ease-in-out 0.2s 0.2s;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: 1px rgba(0, 0, 0, 0.2);
  border-style: none none solid none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-bottom: 13px;
  margin: 30px 0 0 0;
}

.modal__input:first-of-type {
  margin: 54px 0 0 0;
}

.modal__input_type_error {
  border: 1px #f00;
  border-style: none none solid none;
}

.modal__button {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: 2px #000;
  padding: 14px 0 18px 0;
  margin: 48px 0 0 0;
  color: #fff;
  background-color: #000;
  transition: opacity ease-in-out 0.2s 0.2s;
  cursor: pointer;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
}

.modal__button_disabled {
  opacity: 0.2;
  cursor: default;
}

.modal__error_visible {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #f00;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 0 11px;
  }

  .modal__container {
    padding: 25px 22px;
    width: 282px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% - 26px);
  }

  .modal__preview-close {
    height: 30px;
    width: 30px;
    bottom: calc(100% + 5px);
    left: calc(100%);
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__input:first-of-type {
    margin: 75px 0 0 0;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 0 0;
  }
}
