.logo__vector {
  width: 173px;
  height: 33px;
  background-image: url(../images/logo-vector.svg);
  background-size: cover;
}

@media screen and (max-width: 680px) {
  .logo__vector {
    width: 126px;
    height: 24px;
  }
}
